{
    "parser": "babel-eslint",
    "extends": ["airbnb-base", "prettier"],
    "env": {
        "browser": true,
        "es6": true
    },
    "rules": {
        "no-bitwise": 0,
        "prefer-destructuring": 0,
        "class-methods-use-this": 2,
        "no-console": 0,
        "import/no-cycle": 1,
        "no-const-assign": 1,
        "no-shadow": 0,
        "no-this-before-super": 1,
        "no-undef": 1,
        "no-unreachable": 1,
        "no-unused-vars": 1,
        "constructor-super": 1,
        "prefer-const": 0,
        "camelcase": 0,
        "no-plusplus": 0,
        "yoda": 0,
        "no-continue": 0,
        "no-else-return": 0,
        "object-shorthand": 0,
        "operator-assignment": 0,
        "no-underscore-dangle": 0,
        "valid-typeof": 1,
        "indent": [2, 4, { "SwitchCase": 1 }],
        "quotes": [2, "single", "avoid-escape"],
        "semi": [2, "always"],
        "eqeqeq": [2, "always"],
        "one-var": 0,
        "comma-dangle": [2, "always-multiline"],
        "spaced-comment": [2, "always"],
        "no-restricted-globals": 2,
        "no-param-reassign": [2, { "props": false }]
    },
    "parserOptions": {
        "sourceType": "module"
    }
}
