.flvplayer-container {
    * {
        box-sizing: border-box;
    }

    .flvplayer-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        line-height: 1.5;
        cursor: pointer;
        svg {
            fill: #fff;
        }
    }

    .flvplayer-inner {
        .flvplayer-poster {
            position: absolute;
            z-index: 10;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            pointer-events: none;
        }

        .flvplayer-loading {
            display: none;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 20;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
        }

        .flvplayer-controls {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: absolute;
            z-index: 40;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100px;
            padding: 50px 10px 10px;
            font-size: 14px;
            color: #fff;
            opacity: 0;
            visibility: hidden;
            transition: all 0.2s ease-in-out;
            user-select: none;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==)
                repeat-x bottom;

            .flvplayer-controls-item {
                display: flex;
                justify-content: center;
                padding: 0 7px;
            }

            .flvplayer-controls-progress {
                position: relative;
                height: 3px;
                border-radius: 3px;
                background: rgba(255, 255, 255, 0.25);

                .flvplayer-loaded {
                    cursor: pointer;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 0;
                    height: 100%;
                    border-radius: 3px;
                    background: rgba(255, 255, 255, 0.5);
                }

                .flvplayer-played {
                    cursor: pointer;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 0;
                    height: 100%;
                    border-radius: 3px;
                    background: rgba(255, 255, 255, 1);

                    .flvplayer-indicator {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        width: 12px;
                        height: 12px;
                        margin: -6px -6px 0 0;
                        border-radius: 50%;
                        background: rgba(255, 255, 255, 1);
                    }
                }
            }

            .flvplayer-controls-bottom {
                display: flex;
                justify-content: space-between;
                height: 22px;
                margin-top: 15px;

                .flvplayer-controls-left {
                    display: flex;
                    align-items: center;
                    .flvplayer-state {
                        height: 100%;
                        .flvplayer-pause {
                            display: none;
                        }
                    }
                    .flvplayer-volume {
                        display: flex;
                        height: 100%;

                        .flvplayer-volume-off {
                            display: none;
                        }

                        .flvplayer-volume-panel {
                            position: relative;
                            width: 0;
                            height: 100%;
                            transition: margin .2s cubic-bezier(0.4,0.0,1,1),width .2s cubic-bezier(0.4,0.0,1,1);
                            overflow: hidden;
                            .flvplayer-volume-panel-handle {
                                position: absolute;
                                top: 50%;
                                left: 0;
                                width: 12px;
                                height: 12px;
                                border-radius: 12px;
                                margin-top: -6px;
                                background: #fff;
            
                                &::before {
                                    left: -54px;
                                    background: #fff;
                                }
            
                                &::after {
                                    left: 6px;
                                    background: rgba(255,255,255,.2);
                                }
            
                                &::before, &::after {
                                    content: '';
                                    position: absolute;
                                    display: block;
                                    top: 50%;
                                    height: 3px;
                                    margin-top: -2px;
                                    width: 60px
                                }
                            }
                        }

                        &:hover .flvplayer-volume-panel {
                            width: 60px;
                            margin-left: 5px;
                        }
                    }
                }

                .flvplayer-controls-right {
                    display: flex;
                    align-items: center;
                }
            }
        }

        &.flvplayer-loading-show {
            .flvplayer-loading {
                display: flex;
            }
        }

        &.flvplayer-controls-show {
            .flvplayer-controls {
                opacity: 1;
                visibility: visible;
            }
        }

        &.flvplayer-hide-cursor {
            * {
                cursor: none !important;
            }
        }
    }

    &.flvplayer-fullscreen-web {
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100% !important;
        height: 100% !important;
        background: #000;
    }
}
