.flv-player-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }

    .flv-player-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        line-height: 1.5;
        cursor: pointer;
        svg {
            fill: #fff;
        }
    }

    .flv-player-inner {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .flv-player-canvas {
            cursor: pointer;
            width: 100%;
            height: 100%;
            background-color: #000;
        }

        .flv-player-poster {
            position: absolute;
            z-index: 10;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            pointer-events: none;
        }

        .flv-player-loading {
            display: none;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 20;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
        }

        .flv-player-performance {
            display: flex;
            flex-direction: column;
            position: absolute;
            z-index: 30;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 50%;
            color: #fff;
            background: rgba(0, 0, 0, 0.76);
            pointer-events: none; 
        }

        .flv-player-controls {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: absolute;
            z-index: 40;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100px;
            padding: 50px 10px 10px;
            font-size: 13px;
            color: #fff;
            // opacity: 0;
            // visibility: hidden;
            transition: all 0.2s ease-in-out;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==)
                repeat-x bottom;

            .flv-player-controls-item {
                padding: 0 5px;
                line-height: 1;
            }

            .flv-player-controls-progress {
                position: relative;
                height: 3px;
                border-radius: 3px;
                background: rgba(255, 255, 255, 0.25);

                .flv-player-loaded {
                    cursor: pointer;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 0;
                    height: 100%;
                    border-radius: 3px;
                    background: rgba(255, 255, 255, 0.5);
                }

                .flv-player-played {
                    cursor: pointer;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 0;
                    height: 100%;
                    border-radius: 3px;
                    background: rgba(255, 255, 255, 1);

                    .flv-player-indicator {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        width: 12px;
                        height: 12px;
                        margin: -6px -6px 0 0;
                        border-radius: 50%;
                        background: rgba(255, 255, 255, 1);
                    }
                }
            }

            .flv-player-controls-bottom {
                display: flex;
                justify-content: space-between;
                height: 22px;
                margin-top: 15px;

                .flv-player-controls-left {
                    display: flex;
                    align-items: center;
                    .flv-player-state {
                        .flv-player-pause {
                            display: none;
                        }
                    }
                }

                .flv-player-controls-right {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    & >>> object {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        pointer-events: none;
        z-index: -1;
    }
}
